body{
  font-family: sans-serif;
}
.navbar{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    margin: 20px 170px;
   gap: 20px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-family: monospace,'Courier New', Courier;

}

  .nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25,#B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
  }
  .nav-connect:hover{
    transform: scale(1.05);
  }
  .paint {
    display: flex;
    width: 90px;
    height: 20px;
  }
  
  .nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .anchor-link{
    text-decoration: none;
    color: white;
  }
  .nav-close{
    display: none;
  }
  .nav-open{
    display: none;
  }
  .sstt p{
    padding-left: 20px;
  }
  .sstts p{
    margin-right: 20px;
  }
  @media(max-width:900px){
    .navbar{
      margin: 20px 50px;

    }
    .nav-connect{
      display: none;
    }
    .nav-open{
      display: block;
      position: fixed;
      right: 30px;
      width: 50px;
      height: 50px;
    }
    .nav-close{
      display: block;
      position: relative;
      top: 30px;
      left: 290px;
      width: 50px;
      height: 50px;
    }
    .nav-menu{
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 30px;
      background-color: #1f0016;
      width: 350px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s;
      right: -350px;
    }
    .nav-menu li {
      font-size: 30px;
      padding-left: 100px;
      flex-direction: row;
      gap: 20px;

    }
  }