.ser {
    display: flex;
    padding-left: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.ser-title {
    position: relative;
}

.ser-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}

.Certificate {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.disp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    height: 400px;
    width: 200px;
}

.disp img {
    width: 199px;
    height: 350px;
}
.all-disp{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition: 0.5s;
}
.disp:hover{
    transform: scale(1.1);
    border: 4px solid rgb(72, 170, 170);
}