
.Edu {
  padding: 60px 20px;
  text-align: center;
  padding-bottom: 150px;
  padding-top: 130px;
}

/* Title Styling */
.Edu_title {
   padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
      font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Arial Narrow', Arial, sans-serif
}

/* Description Styling */
.Edu_description {
  font-size: 21px;
  color: var(--orange);
  margin-bottom: 50px;
  font-family: 'Arial Narrow', Arial, sans-serif
}

/* Education Section */
.Edu_sec {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Arial Narrow', Arial, sans-serif
}

/* Individual Education Card */


/* Icons */
.icon {
  font-size: 50px;
  color: #FCA61F;
  margin-bottom: 0px;
}

/* Degree Title */
.Edu_degree {
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Arial Narrow', Arial, sans-serif
}

/* Institution Name */
.Edu_institution {
  font-size: 21px;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: 'Arial Narrow', Arial, sans-serif
}

/* Score Styling */
.Edu_score {
  font-weight: 80%;
  font-size: 16px;
  color: #FCA61F;
  font-size: large;
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
  .Edu_card {
    width: 240px;
  }

  .Edu_title {
    font-size: 32px;
  }

  .Edu_description {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .Edu_card {
    width: 100%;
  }

  .Edu_title {
    font-size: 28px;
  }

  .Edu_description {
    font-size: 14px;
  }
}