.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-left img{
   height: 400px;
    width: 250px;
   border-radius: 5px;
}

.about-title{
    position: relative;

}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100px;
    height: 100px;
}
.about-sec{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;

}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;

}
.skils{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skils{
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.3;
}
.about-skils p{
    min-width: 170px;
    font-size: 24px;
    font-weight: 500;
}
.about-skils hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);

}
.about-acs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
   

}
.about-ac{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    transition: 0.5s;

}
.about-ac h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-ac p{
    font-size: 22px;
    font-weight: 500;

}
.about-skils:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.about-ac:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:768){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;


    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-sec{
        flex-direction: column;
    }
    .about-left{
        display: none;

    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skils{
        gap: 20px;
        align-items: center;
    }
    .about-skils p{
        font-size: 20px;

    }
    .about-skils hr{
        height: 6px;

    }
    .about-acs{
        justify-content: space-between;


    }
   
     


    .about-ac{
        gap: 10px;
    }
    .about-ac h1{
        font-size: 34px;
        font-weight: 700;

    }
    .about-acs p{
        text-align: center;
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .about-acs hr,
    .about-ac hr {
        display: block;
    }
}
.about-acs hr,
.about-ac hr {
    display: block;
}

@media screen and (max-width: 768px) {
    .about-acs hr,
    .about-ac hr {
        display: none;
    }
}
