/*.tutorial {
    width: 300px;
}*/

.videos-description {
    height:50px;
    vertical-align: top;
    text-align: center;
    font-size: 13px;
    color: #606060;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

    .grid-container > div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }