.contact{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
   position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-sec{
    display: flex;
    gap: 150px;

}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(150deg,#DA7C25,#B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.contact-left p{
    max-width: 550px;
    color:white;
    font-size: 20px;
    line-height: 35px;

}
.contact-details
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: aliceblue;
    font-size: 22px;

}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.contact-detail img{
    height:50px ;
    width: 50px;
}
.contact-right{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;

}
.contact-right label{
color: white;
font-size: 22px;
font-weight: 500;
}
.contact-right input{
    border: none;
    width: 700px;
    height: 75px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family:monospace;
    font-size: 22px;


}
.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family:monospace;
    font-size: 22px;





}
.button{
    
        padding: 20px 60px;
        border-radius: 50px;
        color: white;
        background: linear-gradient(267deg,#DA7C25,#B923E1 102.06%);
        font-size: 22px;
        cursor: pointer;
        margin-bottom: 50px;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
   
 }
.button:hover{
      transform: scale(1.1);
      transition: 0.3s;
}
@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-sec{
        flex-direction: column;

    }
    .contact-left h1{
        font-size: 54px;

    }
    .contact-left p{
        font-size: 18px;

    }
    .contact-details{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;

    }
    .contact-right label{
        font-size: 20px;

    }
    .contact-right input{
        width: 100%;
        font-size: 20px;

    }.contact-right textarea{
        width: 95%;
        font-size: 20px;

    }
    .button{
        font-size: 20px;
        padding: 15px 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}