body{
    font-family: sans-serif;
}
.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;

}
.top-left p{
    font-size: 25px;
    max-width: 400px;
}